@use '../App/mixin.scss';
@use '../App/vars.scss';

.pepites {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background: url('../../assets/blobshadow.svg') no-repeat ;
    background-position: left;

    background-size: 200%;

&__title {
    font-family: tinos, sans-serif;
    font-size: 3rem;
}
&__title span {
     color: vars.$font_orange;
}

&__cardContainer {
    display: flex;
    flex-direction: column;
   gap: 2rem;
    align-items: center;
}
}

@include mixin.smallDevices {
    .pepites__cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}