@use '../../components/App/mixin.scss';
@use '../../components/App/vars.scss';

.gridPurchase__container{
    width: 85%;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: vars.$background_blue;
    border: none;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    height: 50%;
    margin-top: 4rem;

   
    .gridPurchase__price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .gridPurchase__finalPrice{
        color: vars.$font_orange;
    }
}

.LineColor{
    margin: 1rem 0;
    border: 1px solid vars.$font_orange;
}

.button__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    .button_valid{
        background-color: vars.$background_grey;
        color: vars.$font_orange;
        padding: 0.5rem;
        border-radius: 5rem;
        cursor: pointer;
    }

    .button__delete{
        font-size: 0.8rem;
        text-decoration: underline;
        cursor: pointer;
    }
}
@include mixin.smallTablets {

}