
$background_blue: #241E4E;
$background_lightBlue: #BCE0F0;
$background_grey: #ffffff;

$font_link: #FAF8D4;

$font_grey: #EDEDED;
$font_orange: rgb(255, 86, 34);
$font_blue: #241E4E;
$font_textInput: #75718E;

$calendar_color: #909090;
$calendar_font: #000000;