@use '../../components/App/mixin.scss';
@use '../../components/App/vars.scss';

.grid__container {
    width: auto;
    height: 30%;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: vars.$background_blue;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
    .grid__dateContainer{
        display: flex;
        flex-direction: column;
        gap: 2rem;

    }
    .grid__inputDate {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .grid__boxcontainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: start;
        margin: 1rem 0;
    }

    .grid__label {
        color: vars.$font_orange;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
    }
    .grid__label input{
        color: vars.$font_orange;
        border: none;
        padding:0.5rem 0.7rem;
        border-radius: 0.5rem;
        font-size: 1rem;

    }

    .grid__input{
        width: 50%;
        border: none;


    }
    .grid__container form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
       
        
    }
    .grid__buttonMembers{
        color: vars.$font_orange;
        cursor: pointer;
    }

    .grid__resultContainer {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }

    .grid__price {
        color: vars.$font_orange;
        text-decoration: underline;
        margin-top: 0.5rem;
        font-size: 2rem;
    }

    .grid__button {
        background-color: white;
        width: auto;
        font-size: 1.2rem;
        padding: 0.5rem 0.7rem;
        border-radius: 1rem;
        font-weight: bold;
        color: vars.$background_blue;
        cursor: pointer;
    }
}

@include mixin.smallTablets {
    .grid__container {
        width: 50%;
    }
    .grid__resultContainer {
        display: flex;
        flex-direction: column;
    }
    .grid__container form {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .grid__dateContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }
    .grid__label {

    }
    
}
@include mixin.desktop {
    .grid__container {
        width: 20%;
}
}