@use '../../App/mixin.scss';
@import '../../App/vars.scss';

.addPackage {
    position: relative;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__form fieldset {
        display: flex;
        flex-direction: column;
    }
}
.addPackage h2 {
    font-size: 2.5rem;
        color: $font_orange;
        font-weight: bold;
        margin-bottom: 2rem;
}
.addPackage h2 span {
    font-size: 2.5rem;
        color: $background_blue;
        font-weight: bold;
}
.addPackage__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.addPackage__form fieldset {
    border: 1px solid black;
        padding: 1rem;
        background-color: $background_blue ;
        border-radius: 0.5rem;
}
.addPackage__form fieldset label{
    color: white;
    font-size: 1.2rem;
}
.addPackage__form fieldset input{
    background-color: $background_blue ;
    border: none;
    border-bottom: 2px solid $font_orange;
    border-left: 2px solid $font_orange;
    border-bottom-left-radius: 0.7rem;
    color: white;
    padding: 0.5rem;
}
@include mixin.largeTablet {
    .addPackage__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        width: 75%;
    }
    .addPackage__box {
        height: 100%;
        width: 50% ;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}
    
